.navbar1 {
  background-color: #4972cc;
  color: #fff;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0 40px; /* Increased padding-right */
  display: flex; /* Change to flex */
}

.nav-item {
  margin-right: 45px;
}


.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #ccc;
}
