
.image-container {
  display: flex;
  justify-content: center; /* Center images horizontally */
  width: 100%;
}

.image {
  flex: 0 0 auto; /* Allow images to maintain their original size */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  width: 700px; /* Ensure images don't exceed container width */
  height:350px;
}
