.slider-image {
  width: 100%; /* Adjust as needed */
  height: auto; /* This will maintain the aspect ratio */
  max-height: 500px; /* Adjust as needed */
  object-fit: cover; /* This will cover the whole space while maintaining aspect ratio */
}


.welcome{

text-align: center;

}

.imageinfo img{
  
  height:400px;
  width:450px;
  


}
.imageinfo {
  display: flex;
  padding-left:30px;

}

.image-container {
  position: relative;
  margin-right: 30px; /* Adjust spacing between images */
  padding-left:20px;
}

.info-button {
  position: absolute;
  bottom: 0;
  width: 100%; /* Make the button width same as the image width */
}

.button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

