/* navbar.css */

.navbar-container {
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: white;
  padding: 10px;
  display: flex;
}

ul {
  list-style-type: none;
  margin-left: 300px;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 40px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

a:hover {
  color: blue;
}

.logo {
  width: 150px;
  height: 60px;
}

.profile-dropdown {
  position: relative;
  padding-left: 400px;
}

.profile-icon {
  position: relative;
  cursor: pointer;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-icon i {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  color: #888;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  list-style: none;
  /* Updated styles for vertical display */
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  align-items: flex-start; /* Align items to start */
}


.dropdown-menu li {
  padding: 10px 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
