.navbar-container {
  padding: 25px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin-left: 200px;
  display: flex;
}

.navbar li {
  margin-right: 20px;
  font-size: 18px;
  margin-left: 25px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #007bff;
}

.navbar .logo {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.navbar .profile-dropdown {
  position: relative;
  margin-left: auto;
}

.navbar .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.navbar .profile-dropdown .fas.fa-caret-up,
.navbar .profile-dropdown .fas.fa-caret-down {
  color: black; /* Change color to black */
}

.navbar .profile-dropdown .fas.fa-caret-down {
  margin-left: 5px; /* Adjust the spacing between profile image and dropdown icon */
}

.navbar .dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  list-style: none;
  display: none;
}

.navbar .show-dropdown {
  display: block;
}

.dropdown-menu li {
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
