/* Styles for the form container */

/*midwifeSignup.module.css */
.container {
  width: 500px;
  margin: 20px auto; /* Center the form vertically and horizontally */
  border: 1px solid #ccc;
  padding: 30px; /* Increase padding for better spacing */
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Styles for form elements */
form {
  margin-top: 0;
}
 
.container h2{
  text-align: center; /* Center the heading */
  margin-bottom: 30px; /* Add space below the heading */
  color: #333; /* Adjust heading color */
}


label {
  display: block;
  margin-bottom: 8px; /* Decrease margin between labels */
  font-weight: bold; /* Make labels bold */
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: calc(100% - 16px); /* Adjust width to consider padding */
  padding: 10px;
  margin-bottom: 20px; /* Increase margin between inputs */
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition effect */
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0056b3;
}
